body {
  padding-bottom: 20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
/* QR code generator */
#qrCode {
  margin: 15px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
h2 {
  color: #597295;
}
a:hover {
  text-decoration: none;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
/* Header */
nav.navbar {
  background: #f4f5f7;
}
nav.navbar .navbar-collapse {
  text-align: center;
}
nav.navbar .navbar-collapse .line {
  margin-top: 15px;
  width: 100%;
  display: inline-block;
  border-top: 1px solid #000000;
}
nav.navbar .navbar-collapse ul.nav.navbar-nav {
  display: inline-block;
  float: none;
  text-align: center;
}
nav.navbar .navbar-collapse ul.nav.navbar-nav li {
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
nav.navbar .navbar-collapse ul.nav.navbar-nav li a {
  padding: 8px 23px;
}
.navbar-header {
  padding-top: 15px;
}
.navbar-header .top-links a {
  margin-left: 13px;
  color: #597295;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.navbar-header .img-logo {
  height: 52px;
}
.phone-form {
  padding: 5px 15px;
}
.phone-form .text {
  margin-top: 11px;
  max-width: 180px;
  display: inline-block;
  text-align: left;
}
.phone-form .text p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.phone-form .text p:first-child {
  color: #999999;
  font-size: 11px;
}
.phone-form .text p:last-child {
  color: #666666;
  font-size: 14px;
}
.phone-form .contact-phone {
  margin-left: 15px;
  max-width: 290px;
  float: right;
  display: inline-block;
}
.phone-form .contact-phone a {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  color: #fe000b;
}
