body {
  padding-bottom: 0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
/* QR code generator */
#qrCode {
  margin: 15px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
h2 {
  color: #597295;
}
a:hover {
  text-decoration: none;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
/* Header */
nav.navbar {
  z-index: 1;
  background: #f4f5f7;
  opacity: 0.90;
}
@media screen and (min-width: 768px) {
  nav.navbar.sticky {
    opacity: 1;
    z-index: 2;
  }
  nav.navbar.sticky div.line {
    border-top: none;
  }
}
nav.navbar .navbar-collapse {
  text-align: center;
}
@media screen and (min-width: 768px) {
  nav.navbar .navbar-collapse {
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  }
  nav.navbar .navbar-collapse.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    opacity: 1;
    background: #f4f5f7;
  }
  nav.navbar .navbar-collapse.sticky ul.nav.navbar-nav {
    margin-top: -12px;
  }
  nav.navbar .navbar-collapse.sticky + .content {
    padding-top: 60px;
  }
}
nav.navbar .navbar-collapse .line {
  margin-top: 3px;
  width: 100%;
  display: inline-block;
  border-top: 1px solid #000000;
}
@media screen and (max-width: 768px) {
  nav.navbar .navbar-collapse .line {
    display: none;
  }
}
nav.navbar .navbar-collapse ul.nav.navbar-nav {
  display: inline-block;
  float: none;
  text-align: center;
}
nav.navbar .navbar-collapse ul.nav.navbar-nav li {
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
nav.navbar .navbar-collapse ul.nav.navbar-nav li a {
  padding: 8px 23px;
}
.navbar-header {
  padding-top: 12px;
}
@media screen and (max-width: 768px) {
  .navbar-header {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-header .brand {
    margin-bottom: 10px;
    text-align: center;
  }
}
.navbar-header .brand .navbar-brand {
  padding-top: 8px;
}
@media screen and (max-width: 768px) {
  .navbar-header .brand .navbar-brand {
    float: none;
  }
}
.navbar-header .brand .navbar-brand .img-logo {
  height: 52px;
}
@media screen and (max-width: 768px) {
  .navbar-header .brand .navbar-brand .img-logo {
    display: inline;
  }
}
.navbar-header .top-links {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .navbar-header .top-links {
    text-align: center;
  }
}
.navbar-header .top-links a {
  margin-left: 13px;
  color: #597295;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .navbar-header .top-links a {
    width: 100%;
    display: inline-block;
    margin-left: 0;
  }
}
.navbar-header button.navbar-toggle {
  background-color: none;
}
@media screen and (max-width: 768px) {
  .navbar-header button.navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.phone-form {
  padding: 0 15px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .phone-form {
    text-align: center;
  }
}
.phone-form .text {
  margin-top: 11px;
  max-width: 180px;
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .phone-form .text {
    text-align: center;
    width: 100%;
    max-width: none;
    display: block;
  }
}
.phone-form .text p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.phone-form .text p:first-child {
  color: #999999;
  font-size: 11px;
}
.phone-form .text p:last-child {
  color: #666666;
  font-size: 14px;
}
.phone-form .contact-phone {
  margin-left: 15px;
  max-width: 290px;
  float: right;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .phone-form .contact-phone {
    margin-left: 0;
    width: 100%;
    max-width: none;
    display: block;
    text-align: center;
  }
}
.phone-form .contact-phone a {
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  color: #fe000b;
}
@media screen and (max-width: 768px) {
  .phone-form .contact-phone a {
    font-size: 28px;
  }
}
/*Footer*/
footer {
  margin-top: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: #1d3f6f;
}
footer .ul-logo {
  padding-left: 20px;
}
footer .ul-logo .img-logo {
  height: 52px;
}
footer h5 {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
footer ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
footer ul li a {
  color: #ffffff;
}
footer .line {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  display: block;
  border-top: 1px solid #ffffff;
}
footer .connect-section {
  text-align: center;
}
footer .social-icons {
  margin-top: 6px;
  text-align: center;
}
footer .social-icons a {
  margin-left: 21px;
  margin-right: 21px;
}
/*Index.cshtml*/
@media screen and (max-width: 768px) {
  .col-carousel {
    padding-left: 0;
    padding-right: 0;
  }
}
.col-carousel .text-carousel {
  z-index: 1;
  position: relative;
  display: block;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .col-carousel .text-carousel {
    margin-top: 0;
    color: #000000;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .col-carousel .text-carousel {
    margin-top: -180px;
  }
}
@media screen and (min-width: 1200px) {
  .col-carousel .text-carousel {
    margin-top: 50px;
  }
}
.col-carousel .text-carousel h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  .col-carousel .text-carousel h2 {
    color: #000000;
    font-size: 25px;
  }
}
.col-carousel .text-carousel p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .col-carousel .text-carousel p {
    color: #000000;
  }
}
@media screen and (min-width: 1200px) {
  .col-carousel .text-carousel p {
    margin-top: 50px;
  }
}
.col-carousel .text-carousel a span {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .col-carousel .text-carousel a span {
    color: #000000;
  }
}
#carousel-top-generic {
  z-index: 0;
  filter: grayscale(10%) brightness(45%) contrast(100%);
}
@media screen and (max-width: 992px) {
  #carousel-top-generic {
    margin-top: -20px;
  }
}
@media screen and (min-width: 992px) {
  #carousel-top-generic {
    top: 0;
    position: absolute;
    margin-top: -178px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  #carousel-top-generic .carousel-inner {
    margin-right: 0;
  }
}
#carousel-top-generic .carousel-caption {
  padding-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .first-row {
    margin-top: 80px;
  }
}
@media screen and (min-width: 992px) {
  .first-row {
    margin-top: 50px;
  }
}
.first-row h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #1d3f6f;
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
}
.form-order-detail {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}
.form-order-detail h4 {
  text-transform: uppercase;
  color: #1d3f6f;
  font-size: 16px;
}
.form-order-detail .date-section {
  border-right: 1px solid #cccccc;
}
.form-order-detail .date-section .store-hours .day {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: #1d3f6f;
}
.form-order-detail .date-section .your-service .checkbox-item {
  padding-left: 0;
}
.form-order-detail .date-section .your-service .checkbox-item .form-group {
  margin-bottom: 10px;
}
.bottom-section {
  margin-bottom: 30px;
  text-align: center;
}
.bottom-section h3 {
  text-transform: uppercase;
  color: #1d3f6f;
  font-size: 22px;
}
.bottom-section .email-section {
  border-right: 1px solid #cccccc;
}
.bottom-section .share-section .share-buttons a img {
  height: 45px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}
