@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Schedule your next appoimtment</h2>
    </div>
    <div class="col-md-12">
        <p>Scroll down for details</p>
        <p>icon</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Please select a convenient time to leave your vehicle with us</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <h4>Data & Time</h4>
        </div>
        <div class="col-md-6">
            Select a date
        </div>
        <div class="col-md-6">
            Select your time
        </div>
        <div class="col-md-6">
            Select a date
        </div>
        <div class="col-md-6">
            Select your time
        </div>
        <div class="col-md-6">
            <h4>Store Hours</h4>
            <p>Mon - Wed</p>
            <p>08:00 AM - 05:00 PM</p>
            <p>Thu</p>
            <p>08:00 AM - 04:00 PM</p>
            <p>Fri</p>
            <p>08:00 AM - 01:00 PM</p>
            <p>Sat</p>
            <p>Close</p>
        </div>
        <div class="col-md-6">
            <h4>Choose your services</h4>
            <p>Please select the type of service(s) needed</p>
            <div class="col-md-12">
                Transmission
            </div>
            <div class="col-md-12">
                Vehicle Maintenance
            </div>
            <div class="col-md-12">
                Vehicle Rapair
            </div>
            <div class="col-md-12">
                Other
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <h4>Your Vehicle</h4>
        </div>
        <div class="col-md-6">
            Year of car
        </div>
        <div class="col-md-6">
            Select your car
        </div>
        <div class="col-md-12">
            Write your message
        </div>
        <div class="col-md-12">
            <h4>Personal Details</h4>
        </div>
        <div class="col-md-6">
            First Name
        </div>
        <div class="col-md-6">
            Second Name
        </div>
        <div class="col-md-6">
            E-Mail
        </div>
        <div class="col-md-6">
            Phone Number
        </div>
        <div class="col-md-6">
            Clear
        </div>
        <div class="col-md-6">
            Send
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <h3>Sign Up for special offers</h3>
            <p>
                Enter your mail and you will get the best<br/>
                offers we have directlly to your inbox
            </p>
        </div>
        <div class="col-md-12">
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <h3>Tell to your friends</h3>
            <p>
                Some of your friends may like to visit if you<br/>
                recommend us. They'll trust your taste!
            </p>
        </div>
        <div class="col-md-12">

        </div>
    </div>
</div>

