@model object

@{
    ViewBag.Title = "Thank you! The order has been sent.";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12 center-align">
        <h2>Thank you! The order has been sent.</h2>
        <h3>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                Go Back to main paige
            </a>
        </h3>
    </div>
</div>


